# Maven
target/

# Eclipse
.settings/
.classpath
.project

# IntelliJ IDEA
.idea
*.iml

# Branch switching
generated/

# Terraform
./terraform/enviroments/dev/terraform.tfstate.backup
./terraform/enviroments/dev/terraform.tfstate
